@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: bold;
}

body {
    background-color: rgb(21, 82, 21);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Dosis', sans-serif;
}

.container {
    width: 100%;
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.continerBoot{
    width: 100%;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play {
    width: 120px;
    height: 30px;
    color: hsl(0, 0%, 100%);
    outline: none;
    margin: 10px;
    background-color: hsl(120, 100%, 25%);
}
.plantarse{
    width: 120px;
    height: 30px;
    color: hsl(0, 0%, 100%);
    outline: none;
    background-color: hsl(0, 80%, 50%);
}

.cardsred {
    color: red;
}
.cardsblack {
    color: black;
}

.card {
    width: 145px;
    height: 225px;
    padding: 12px;
    background: hsl(0, 0%, 100%);
    border-radius: 8px;
    box-shadow: 5px 5px 10px 5px rgb(2, 19, 2);
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    z-index: 2;
    margin: 0px;
}

.cuadrado {
    width: 74px;
    height: 131px;
    position: absolute;
    top: 47px;
    right: 35px;
    z-index: 1;
}
span{
    font-size: 1.8rem;
}

.black {
    border: solid 2px black;
}

.red {
    border: solid 2px red;
    color: red;
}

.up {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.up__simbol {
    font-size: 2rem;
    margin: 0;
    padding: 0;
}
.up__number {
    font-size: 2rem;
    margin: 0;
    padding: 0;
}

.down__simbol {
    font-size: 2rem;
    margin: 0;
}

.down {
    font-size: 2rem;
    display: flex;
    align-self: flex-end;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: rotate(180deg);
    box-sizing: border-box;
}


.cartatapada {
    background: url(../imagenes/back.jpg.png)no-repeat;
    background-size: contain;
}

.k {
    background: url(../imagenes/k.png)no-repeat;
}

.q {
    background: url(../imagenes/q.png)no-repeat;
}

.j {
    background: url(../imagenes/j.png)no-repeat;
}

.a {
    font-size: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.dosytres {
    font-size: 2.9rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.cuatro{
    font-size: 2.9rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 50px 16px;
    text-align: center;
}
.cinco{
    font-size: 2.9rem;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    gap: 50px 0px;
    text-align: center;
}
.item5{
    grid-area: 1/2/3/3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.six{
    font-size: 2.9rem;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    gap: 0px 25px;
    text-align: center;
}
.seven{
    font-size: 2.9rem;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    gap: 0px 3px;
    text-align: center;
}
.item7{
    grid-area: 1/2/3/3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.span7{
    grid-area: 3/3/3/3;
}
.ocho{
    font-size: 2.9rem;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    gap: 0px 3px;
    text-align: center;
}
.item8{
    grid-area: 1/2/3/3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.span8{
    grid-area: 1/2/4/3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.nine{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows:  30px 30px 30px 30px;
    text-align: center;
}

.item9{
    grid-area: 1/2/5/3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}
.ten{
    font-size: 2.9rem;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows:  30px 30px 30px 30px;
    text-align: center;
}
.item10{
    grid-area: 1/2/3/3;
    margin-top: 15px;
}
.span10{
    grid-area: 1/2/6/3;
    margin-top: 75px;
}
.text__count{
    margin-top: 5px;
    background: hsl(0, 0%, 0%);
    color: hsl(0, 0%, 100%);
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 20px;
    border: solid 1px #39ff14;
    visibility: hidden;
}
.text__count-boot{
    margin: 5px 0 0 0;
    background: hsl(0, 0%, 0%);
    color: hsl(0, 0%, 100%);
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 20px;
    border: solid 1px #39ff14;
    visibility: hidden;
}

/*RESPONSIVE*/

@media(max-width: 1024px){
    .card{
        margin: 10px -30px;
    }
}
@media(max-width: 850px){
    .card{
        margin: 0px -45px;
    }
}