* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: bold;
}

body{
    background-color: rgb(21, 82, 21);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    width: 120px;
    height: 50px;
    color: hsl(0, 0%, 100%);
    outline: none;
    margin: 50px;
    background-color: hsl(120, 100%, 25%);
}

.cardsred{
    color: red;
}
.card{
    width: 207px;
    height: 321px;
    padding: 12px;
    background: hsl(0, 0%, 100%);
    border-radius: 5px;
    box-shadow: 5px 5px 10px 0px rgb(2, 19, 2);
    position: relative;
    display: flex;
    justify-content:space-between;
    align-items: flex-start;
    flex-direction: row;
    box-sizing: border-box;
    margin: 10px;
}
.cuadrado{
    width: 102px; 
    height: 181px; 
    position: absolute;
    top:22%;
    right: 25%;
    z-index: 9;
}
.black {
    border: solid 2px black;
}
.red{
    border: solid 2px red;
}
.up{
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.down{
    font-size: 3rem;
    display: flex;
    align-self: flex-end;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: rotate(180deg);
    box-sizing: border-box;
}


.cartatapada{
    background: url(../imagenes/back.jpg.png)no-repeat;
    background-size: contain; 
}
.k{
    background: url(../imagenes/k.png)no-repeat;
}
.q{
    background: url(../imagenes/q.png)no-repeat;
}
.j{
    background: url(../imagenes/j.png)no-repeat;
}